<div class="row">
	<div class="large-9 small-12 large-centered small-centered columns">
		<h3>
		  Welcome to Localite!
		</h3>
		<h5>
		  Connect to your neighborbood and enjoy the benefits.
		</h5>
		<p></p>
		<p></p>
		<p>
			<%= link_to "Sign up now!", signup_path, class: "button radius" %>

		</p>
	</div>
</div>

	
