<% if signed_in? %>
	
    <div class="large-4 small-12 columns">
      <aside>
      <section>
        <%= render 'shared/user_info' %>
      </section>
     <section>
     	<%= render "shared/user_side_panel" %>
     </section>
     </aside>
    </div>
    <div class="large-8 small-12  columns">
      <section>
    	  <%= render 'shared/feed' %>
    	</section>
    </div>
  

<% else %>
<div class="row">
	<div class="large-12 small-12 small-centered columns">
		<h3>
		  Welcome to Localite!
		</h3>
		<h5>
		  Connect to your neighborbood and enjoy the benefits.
		</h5>
		<p></p>
		<p></p>
		<p>
			<%= link_to "Sign up now!", signup_path, class: "button radius" %>

		</p>
	</div>
</div>
<% end %>

	
