  <div id="follow_form">
  <% if bubble.following?(current_user) %>
    <%= render 'bubbles/unfollow', bubble: bubble %>
  <% else %>
    <%= render 'bubbles/follow', bubble: bubble %>
  <% end %>
  </div>