<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="large-4 small-8 large-centered small-centered columns">
     <%= render 'shared/error_messages' %>
     <%= render "signup" %>


  </div>
</div>
