<% provide(:title, @user.name) %>


<div class="small-12 medium-4 large-3 columns medium-pull-8 large-pull-6">
      <aside>
        <section id="joyride">

        <%= gravatar_for @user, size: 32 %>
        <h1><%= @user.name %></h1>
        </section>
        
        

      </aside>
    </div>