<% @user ||= current_user %>
<h6>
        <%= bubble.name %> <br> Pincode: <%= bubble.pincode %>
</h6>
<div class="stats">
  <p>
    <strong id="followers" class="stat">
      <%= bubble.users.count %>
    </strong>
    followers
  </p>
  <p>
    <%= render 'bubbles/follow_form', bubble: bubble if signed_in? %>
  </p>
</div>