 <% if @bubbles.any? %>
     <section>
     <% if current_user?(@user) %>
       <h4> My Bubbles </h4>
     <% else %>
    	<h4> Bubbles </h4>
    <% end %>    
        <ol class="posts">
    		<%= render partial: 'bubbles/bubble', collection: @bubbles %>
  		</ol>
  	 <section>	
    <% end %>
    <section>
    	<%= render 'layouts/footer' %>
    </section>